html, body 
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


#B1
{
	  color: transparent; 
	  background-color: transparent; 
	  border-color: transparent; 
	  outline: 0; position: absolute; 
	  left: 53%; 
	  top: 175%; 
	  width : 30%; 
	  height :17.5%	;
}

#B2
{
	color: transparent; 
	background-color: transparent; 
	border-color: transparent; 
	outline: 0; 
	position: absolute; 
	left: 25%;  
	top: 144.5%; 
	width : 35%; 
	height :15%;
}

#B3
{
	color: transparent; 
	background-color: transparent; 
	border-color: transparent; 
	outline: 0; 
	position: absolute; 
	left: 52%;  
	top: 108%; 
	width : 30%; 
	height :15%
}

#B4
{
	color: transparent; 
	background-color: transparent; 
	border-color: transparent; 
	outline: 0; 
	position: absolute; 
	left: 20%; 
	top: 112%; 
	width : 30%; 
	height :15%;
}

#S1 
{	
	 background-color: transparent; 
	 border-color: transparent; 
	 outline: 0;
	 position: absolute; 
	 left: 104.5%; 
	 top: 5%; 
	 width : 85%; 
	 height :17.5%;	
	 font-size: 8vw;
}

#S2
{	
	 background-color: transparent; 
	 border-color: transparent; 
	 outline: 0;
	 position: absolute; 
	 left: 104.5%; 
	 top: 15%; 
	 width : 85%; 
	 height :17.5%;	
	 font-size: 8vw;
}

#S3
{	
	 background-color: transparent; 
	 border-color: transparent; 
	 outline: 0;
	 position: absolute; 
	 left: 104.5%; 
	 top: 25%; 
	 width : 85%; 
	 height :17.5%;	
	 font-size: 8vw;
}

#S4
{	
	 background-color: transparent; 
	 border-color: transparent; 
	 outline: 0;
	 position: absolute; 
	 left: 104.5%; 
	 top: 35%; 
	 width : 85%; 
	 height :17.5%;	
	 font-size: 8vw;
}




.flex-container 
{
	display: flex; /* I now declare this as a flex-container */
	display: -webkit-flex; /* This is the Chrome notation */ 	 	
}

.flex-item1 
{
	flex: 1;
	-webkit-flex: 1;
	/* Just some color and shape */
	text-align:center;
	
}
.flex-item2 
{
	flex: 1;
	-webkit-flex: 1;
	/* Just some color and shape */
	text-align:center;
	flex-grow:1.5;
}
.flex-item3 
{
	flex: 1;
	-webkit-flex: 1;
	/* Just some color and shape */
	text-align:center;
	
}
.Left
{	 	
	margin-top: auto;			
	text-align:left;
}

.Right
{		
	margin-top: auto;		
	text-align:right;
}

input[type=range]{
    -webkit-appearance: none;
	width: 100%;
    height: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 22%;
    background: #ddd;
    border: none;
    
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

#B5
{
	background: #d93434;
 	background-image: -webkit-linear-gradient(top, #d93434, #ff0000);
  	background-image: -moz-linear-gradient(top, #d93434, #ff0000);
  	background-image: -ms-linear-gradient(top, #d93434, #ff0000);
  	background-image: -o-linear-gradient(top, #d93434, #ff0000);
  	background-image: linear-gradient(to bottom, #d93434, #ff0000);
  	-webkit-border-radius: 22;
  	-moz-border-radius: 22;
  	border-radius: 22px;
  	text-shadow: 1px 1px 3px #666666;
  	font-family: Georgia;
  	color: #ffffff;
  	font-size: 20px;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
	 border-color: transparent; 
	 outline: 0;	 
     position: absolute; 
	 left: 104.5%; 
	 top: 81%; 
	 width : 90%; 
	 height :17%;	
	 font-size: 8vw;
	 user-select:none;
}

#B5:active {
  background: #3cfc43;
  background-image: -webkit-linear-gradient(top, #3cfc43, #0b993d);
  background-image: -moz-linear-gradient(top, #3cfc43, #0b993d);
  background-image: -ms-linear-gradient(top, #3cfc43, #0b993d);
  background-image: -o-linear-gradient(top, #3cfc43, #0b993d);
  background-image: linear-gradient(to bottom, #3cfc43, #0b993d);
  text-decoration: none;
}